
<div class="container hero">
<br>
  <div class="col-10 offset-1 tect-center">
    <h1>Learn from the best, surpass all of the rest</h1>

    <h3>We give you a business class ticket to hoagie town</h3>
  </div>
</div>

<div class="options">
  <h1>This too...</h1>
</div>
