// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1 {
  color : green;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  box-shadow: 0px 3px 3px #2a2a2a;
  background: image_url('what-the-hex.png');
  padding: 50px;
}

.navbar-inverse a.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
}

.hero {
  font-weight: 100px;
  background: image_url('hero.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

.options {
  border: 1px solid red;
  margin: 100px;
  padding: 40px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  
}